<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <ul>
        <li>
            <a href = '/contacts/'>Контакты</a>
        </li>
        <li>
            <a href = '/'> Главная</a>
        </li>
        <li>
            <a href = '/results/'>Результаты</a>
        </li>
    </ul>
    <h1>Здарова</h1>
    <p>Йомайо</p>
    Город: {{main_data['Город']}}</br>
    Район: {{main_data['Район']}}</br>
    Компания: {{main_data['Компания']}}</br>

    Имя: {{Имя}}</br>
    Возраст: {{Возраст}}</br>
    Профессия: {{Профессия}}</br>
</body>
</html>